name: Replace Server Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    strategy:
      matrix:
        node-version: [18.x] 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install
      
      - name: Create .env file
        run: |
          echo GOOGLE_MAP_KEY=${{ secrets.GOOGLE_MAP_KEY }} >> .env

      - name: Build Angular app
        run: npm run build-prod
      
      - name: List build directory
        run: ls -alh dist/

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: activeto  # exact Pages project name
          directory: ./dist # folder with built files


      # - name: Connect to server and copy source code
      #   uses: appleboy/scp-action@v0.1.3
      #   with:
      #     host: ${{ secrets.SERVER_HOST }}
      #     username: ${{ secrets.SERVER_USERNAME }}
      #     key: ${{ secrets.SERVER_SSH_KEY }}
      #     passphrase: ${{ secrets.SERVER_PASSWORD }}
      #     source: "./dist/*"
      #     target: "~/activeto/"

      # - name: Connect to server
      #   uses: appleboy/ssh-action@v1.0.3
      #   with:
      #     host: ${{ secrets.SERVER_HOST }}
      #     username: ${{ secrets.SERVER_USERNAME }}
      #     key: ${{ secrets.SERVER_SSH_KEY }}
          # passphrase: ${{ secrets.SERVER_PASSWORD }}
      #     script: |
      #       cp -r ~/activeto/dist/* /var/www/apps/activeto/